##############################################
# AviMind Configuration
##############################################

APP_NAME=AviMind

##############################################
# Database
##############################################

# Supported values:
# sqlite
# postgres
DB_ENGINE=sqlite

##############################################
# SQLite Configuration
# Used only when DB_ENGINE=sqlite
##############################################

SQLITE_DB_PATH=./data/avimind.db

##############################################
# PostgreSQL Configuration
# Used only when DB_ENGINE=postgres
##############################################

DB_HOST=localhost
DB_PORT=5432
DB_NAME=avimind
DB_USER=avimind_admin
DB_PASSWORD=change_me